.header{
    background-image: url('./assets/python-Banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-align: center;
    padding: 100px 20px;
}